# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: RSE-ops
author: "@vsoch"
description: > # this means to ignore newlines until "baseurl:"
    Welcome to the RSE-ops lanscape site! This website defines categories and software 
    that belong in the domain of RSE-ops, and provides them here for you to explore.

url: "" # the subpath of your site, e.g. /blog
baseurl: "/rse-ops"

# Build settings
permalink: /:year/:title/
markdown: kramdown
exclude: [_site, CHANGELOG.md, LICENSE, README.md, vendor]
repo: https://github.com/vsoch/rse-ops

# Collections
collections:
  tools:
    output: true
    permalink: /:collection/:path/
  
# Defaults
defaults:
  - 
    scope:
      path: "_tools"
      type: "tools"
    values:
      layout: page
  - 
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: "posts"
      type: "posts"
    values:
      layout: "post"
