<ul id="filters" class="clearfix" {% if include.style %}style="{{ include.style }}"{% endif %}>
  <li><span class="filter"><a href="{{ site.baseurl }}/">Rse-ops</a></span></li>
  <li><span class="filter"><a href="{{ site.baseurl }}/about/">Background</a></span></li>
  <li><span class="filter"><a href="{{ site.baseurl }}/categories/">Categories</a></span></li>
  <li><span class="filter"><a href="{{ site.baseurl }}/choosers/">Choose A Tool</a></span></li>
  <li><span class="filter"><a href="{{ site.baseurl }}/projects/">Projects</a></span></li>
  <li style="float:right"><span class="filter"><a href="{{ site.baseurl }}/sitemap/">Sitemap</a></span></li>
  <li style="float:right"><span class="filter"><a style="font-weight:600" href="{{ site.repo }}" target="_blank"></></a></span></li>
  <li style="float:right"><span class="filter"><a href="{{ site.baseurl }}/src/rse-ops.pdf" target="_blank">PDF</a></span></li>
</ul>

{% if include.image != false %}<img src="{{ site.baseurl }}/assets/img/rse-sun.png" style="display:block;margin:auto;">{% endif %}
