* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Helvetica, Arial, Verdana;
  background: #F7F7F7;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  transition: all 1s ease;
}

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

#filters li span:hover {
  color: darkorange;
}

#filters li span.active {
  background: #ededed;
  color: #333;
}

#portfoliolist .portfolio {
  width: 23%;
  margin: 1%;
  display: none;
  float: left;
  overflow: hidden;
}

.portfolio-wrapper {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
}

.portfolio img {
  max-width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -40px;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
  background: #222;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .label-text {
  color: #fff;
  position: relative;
  z-index: 500;
  padding: 5px 8px;
}

.portfolio .text-category {
  display: block;
  font-size: 9px;
}

.portfolio:hover .label {
  bottom: 0;
}

.portfolio:hover img {
  top: -30px;
}


/* #Tablet (Portrait) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  #portfoliolist .portfolio {
    width: 48%;
    margin: 1%;
  }
  #ads {
    display: none;
  }
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
  #ads {
    display: none;
  }
}


/* #Clearing */


/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.row:after,
.clearfix:after {
  clear: both;
}

.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
