---
layout: default
---
<html>
<head></head>
<body>
  <h6>{{ page.entry.author }}</h6>
  <p>{{ page.entry.abstract }}</p>

<div class="language-plaintext highlighter-rouge">
<div class="highlight">
<pre class="highlight"><code>
{{ page.entry.bibtex }}
</code></pre></div></div>

  <div class="thi-columns">
    <ul class="tag-post">
    {% for paper in site.papers %}
      {% if paper.url contains page.entry.key %}<a class="post-title" href="{{ site.baseurl }}{{ paper.url }}">
        <li>
          {{ paper.title }} 
        </li>
      </a>
    {% endif %}{% endfor %}
    </ul>
  </div>

</body>
</html>
